<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="col-md-8 min_cont marcar">
            <div class="panel panel-default min_cont" ng-controller="autenticacionController" >                    
                <div class="panel-heading" ng-controller="modalController">
                    <p>                            
                        Publicaciones
                        <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.jsp', 'lg')">VenderYa!</button>
                        <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html', 'lg')">
                            VenderYa!
                        </button>
                        
                    </p>
                </div>  

                <div id="publicacionesProductos" class="panel-body">

                    <div ui-view>
                        <div class="row" ng-app="cmpy.anuncios" ng-controller="anunciosController">

                            <div class="row center-block">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <pagination 
                                        ng-model="page"
                                        total-items="totalAnuncios"
                                        items-per-page="24"
                                        ng-change="cargarPagina()"
                                        boundary-links="true">
                                    </pagination>
                                </div>                                
                                <div class="col-md-2"></div>
                            </div>


                            <div class="col-sm-6 col-md-4" ng-repeat="publicacion in publicaciones">

                                <div style="height: 450px;" class="thumbnail">       

                                    <a href="" ui-sref=".vistaProducto({publicacionId: publicacion.id, '#': 'publicacionesProductos'})">

                                        <div class="titulo-publicacion">
                                            <h3>{{publicacion.titulo}}</h3>
                                        </div>                                    

                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 class="price-text-color">$ {{publicacion.productoList[0].precio}}</h4>
                                            </div>
                                            <div class="rating hidden-sm col-md-4">
                                                <i class="price-text-color glyphicon glyphicon-star" ng-repeat="estrella in getNumbers(publicacion.puntaje) track by $index"></i>
                                                <i class="price-text-color glyphicon glyphicon-star-empty" ng-repeat="estrella in getNumbers(5 - publicacion.puntaje) track by $index"></i>
                                            </div>
                                        </div>

                                        <img src="/images/getThumbnail/{{publicacion.recursoList[0].ruta}}" alt="imagen aqui">                                    

                                        <div class="caption">
                                            <p>{{publicacion.descripcion}}...</p>                                        
                                        </div>
                                    </a>

                                    <!--<div class="footer-publicacion">-->
                                        <a href="#" class="btn btn-success" role="button" tooltip="Agregar al carrito" tooltip-placement="bottom">
                                            <span class="glyphicon glyphicon-shopping-cart"/>                                            
                                        </a> 
                                        <a href="" ui-sref=".vistaProducto({publicacionId: publicacion.id, '#': 'publicacionesProductos'})" class="btn btn-default" role="button" tooltip="Ver detalles" tooltip-placement="bottom">
                                            <span class="glyphicon glyphicon-search"/>                                            
                                        </a>                                        
                                    <!--</div>-->

                                </div>
                            </div>

                            <div class="row center-block">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <pagination 
                                        ng-model="page"
                                        total-items="totalAnuncios"
                                        items-per-page="24"
                                        ng-change="cargarPagina()"
                                        boundary-links="true">
                                    </pagination>
                                </div>                                
                                <div class="col-md-2"></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </body>
</html>
