<div ui-view>
    <div class="col-md-8 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading">
                <p>                            
                    Publicaciones
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">VenderYa!</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        VenderYa!
                    </button>

                </p>
            </div>  

            <div id="publicacionesProductos" class="panel-body">

                <div class="row">

                    <div class="col-sm-6 col-md-4" ng-repeat="publicacion in publicaciones">

                        <div style="height: 450px;" class="thumbnail">       

                            <div class="row">
                                <div ng-if="publicacion.tipo!=='EXTERNA'" class="col-lg-7 col-md-4 col-sm-2">
                                    <img class="user-image" ng-if="publicacion.usuario.signInProvider === null" height="28px" width="28px" ng-src="/images/getThumbnail/{{publicacion.usuario.rutaImagen}}" alt="..." uib-tooltip="{{publicacion.usuario.persona.nombre}}" tooltip-placement="top"/>
                                    <img class="user-image" ng-if="publicacion.usuario.signInProvider !== null" height="28px" width="28px" ng-src="{{publicacion.usuario.rutaImagen}}" alt="..."  uib-tooltip="{{publicacion.usuario.persona.nombre}}" tooltip-placement="top"/>
                                </div>
                                <div ng-if="publicacion.tipo==='EXTERNA'" class="col-lg-7 col-md-4 col-sm-2">                                    
                                    <img class="user-image" height="28px" width="28px" ng-src="/resources/images/logo.jpg" alt="..."  uib-tooltip="{{publicacion.link}}" tooltip-placement="top"/>
                                </div>
                                <div class="rating col-lg-5 col-md-8 col-sm-10">
                                    <i class="price-text-color glyphicon glyphicon-star" ng-repeat="estrella in getNumbers(publicacion.usuario.puntaje) track by $index"></i>
                                    <i class="price-text-color glyphicon glyphicon-star-empty" ng-repeat="estrella in getNumbers(5 - publicacion.usuario.puntaje) track by $index"></i>
                                </div>
                            </div>

                            <a ng-if="publicacion.tipo==='GRATIS'" href="" ui-sref="home.vistaProducto({publicacionId: publicacion.id, '#': 'publicacionesProductos'})">

                                <div class="titulo-publicacion">
                                    <h3>{{publicacion.titulo.slice(0,15)}}...</h3>
                                    <h4 class="price-text-color">$ {{publicacion.precio}}</h4>
                                </div>

                                <img ng-if="publicacion.tipo==='GRATIS'" ng-src="/images/getThumbnail/{{publicacion.imgUrl}}" alt="imagen aqui">

                                <div class="caption">
                                    <p>{{publicacion.descripcion.slice(0, 75)}}...</p>                                        
                                </div>
                            </a>
                            
                            <a ng-if="publicacion.tipo==='EXTERNA'" ng-href="{{publicacion.link}}" target="_blank">

                                <div class="titulo-publicacion">
                                    <h3>{{publicacion.titulo.slice(0,15)}}...</h3>
                                    <h4 class="price-text-color">$ {{publicacion.precio}}</h4>
                                </div>
                                
                                <img ng-if="publicacion.tipo==='EXTERNA'" ng-src="{{publicacion.imgUrl}}" alt="imagen aqui">

                                <div class="caption">
                                    <p>{{publicacion.descripcion.slice(0, 75)}}...</p>                                        
                                </div>
                            </a>

                            <div class="footer-publicacion" ng-if="publicacion.tipo!=='EXTERNA'">
<!--                                <a href="" ui-sref="home.vistaProducto({publicacionId: publicacion.id, '#': 'publicacionesProductos'})" class="btn btn-default" role="button" uib-tooltip="Ver detalles" tooltip-placement="bottom">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>  -->
<!--                                <a href="#"
                                   ng-show="{{publicacion.usuario.id !== usuario.id}}"
                                   class="btn btn-success" 
                                   role="button" 
                                   uib-tooltip="Agregar al carrito" 
                                   tooltip-placement="bottom">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>-->


                                <!--                                <button ng-show="{{publicacion.usuario.id === usuario.id}}" class="btn btn-warning" role="button" uib-tooltip="editar" tooltip-placement="top">
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </button>-->
                                <a ng-show="{{publicacion.usuario.id === usuario.id}}" 
                                   ng-click="eliminarPublicacion(publicacion.id, $index)" 
                                   confirm-title="Eliminar Publicacion"
                                   confirm="¿Confirma que desea eliminar la publicacion?" 
                                   confirm-ok="Sí"
                                   confirm-cancel="No"
                                   class="btn btn-danger" role="button" 
                                   uib-tooltip="eliminar" 
                                   tooltip-placement="top">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>                    

                            </div>

                        </div>
                    </div>

                    <div class="col-md-12" style="text-align: center">
                        <p>
                        <div class="btn-group">
                            <a href="#navBar" target="_self" class="btn btn-info" role="button">
                                subir
                                <span class="glyphicon glyphicon-arrow-up"></span>                              
                            </a>

                            <button class="btn btn-info" ng-click="paginaSiguiente()">
                                más
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </div>                            
                        </p>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>