<div class="col-md-10 min_cont marcar">
    <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>

                    <button type="button" class="btn btn-default pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  

        <div id="publicacionesProductos" class="panel-body">
            <div>                
                <div class="thumbnail">
                    &nbsp;&nbsp;{{publicacion.usuario.persona.nombre}}
                    <img class="user-image" ng-if="!publicacion.usuario.rutaImagen" height="28px" width="28px" ng-src="/resources/images/default.jpg" alt="..." uib-tooltip="{{publicacion.usuario.persona.nombre}}" tooltip-placement="top"/>
                    <img class="user-image" ng-if="(publicacion.usuario.signInProvider === null || publicacion.usuario.signInProvider === undefined) && publicacion.usuario.rutaImagen" height="28px" width="28px" ng-src="/images/getThumbnail/{{publicacion.usuario.rutaImagen}}" alt="..." uib-tooltip="{{publicacion.usuario.persona.nombre}}" tooltip-placement="top"/>
                    <img class="user-image" ng-if="publicacion.usuario.signInProvider !== null && publicacion.usuario.signInProvider !== undefined && publicacion.usuario.rutaImagen" height="28px" width="28px" ng-src="{{publicacion.usuario.rutaImagen}}" alt="..."  uib-tooltip="{{publicacion.usuario.persona.nombre}}" tooltip-placement="top"/>
                    <p style="text-align: center; font-size: 18px; font-weight: bold; overflow-x: hidden">
                        {{publicacion.titulo}}
                    </p>                    
                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">                                    
                        <uib-slide ng-repeat="recurso in recursoList" active="slide.active" index="slide.id">
                            <a href=""><img class="imgajust" ng-src="{{baseImgUrl + recurso.ruta}}" /></a>                            
                        </uib-slide>
                    </uib-carousel>
                    <div class="bs-callout bs-callout-primary">

                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="price-text-color">$ {{publicacion.precio}}</h3>
                            </div>
                            <div class="rating hidden-sm col-md-4" style="text-align:right">
                                <i class="price-text-color glyphicon glyphicon-star" ng-repeat="estrella in getNumbers(publicacion.puntaje) track by $index"></i>
                                <i class="price-text-color glyphicon glyphicon-star-empty" ng-repeat="estrella in getNumbers(5 - publicacion.puntaje) track by $index"></i>
                            </div>
                        </div>

                        <p class="macro">{{publicacion.descripcion}}</p>
                        <br/>
                        <p style="text-align:right;font-size:24px;color:red">Tel. {{publicacion.usuario.persona.telefono}}</p>
                        <br/>

                    </div>

                    <div style="text-align:center">
                        <div class="btn-group" role="group" aria-label="..." style="margin-bottom:20px">

                                <button value="VenderYa!" type="submit" class="btn btn-success" ng-click="open('ubicacionesModalLectura.html', 'lg')" uib-tooltip="Ver Puntos de Entrega">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </button>  


                            <a ng-show="!authenticated" ng-click="open('loginModal.html')" class="btn btn-primary btn-default" href="" uib-tooltip="Mensaje Privado">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                            <a ng-show="authenticated" class="btn btn-primary btn-default" href="" ui-sref="home.vistaMensaje({usuarioId:publicacion.usuario.id,usuarioNombre:publicacion.usuario.persona.nombre,asunto:publicacion.titulo})" uib-tooltip="Mensaje Privado">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>

                        </div>
                    </div>

                    <div class="actionBox">

                        <!--<form class="form-inline" role="form">-->
                        <div class="form-group">
                            <textarea ng-show="!authenticated" 
                                      ng-click="open('loginModal.html')"
                                      ng-change="open('loginModal.html')"
                                      ng-model="comentario" class="form-control" placeholder="Escribe un comentario" >

                            </textarea>
                            <textarea ng-show="authenticated"
                                      ng-model="comentario" class="form-control" placeholder="Escribe un comentario" >

                            </textarea>
                        </div>
                        <div class="row" style="width: 100%;margin-top:10px;">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <button ng-show="!authenticated" type="button" class="btn btn-default" ng-click="open('loginModal.html')" style="width: 100%">Agregar</button>
                                <button ng-disabled="!ready" ng-show="authenticated" type="button" class="btn btn-default" ng-click="agregarComentario()" style="width: 100%">Agregar</button>
                            </div>
                        </div> 

                        <!--</form>-->

                        <div class="bs-callout bs-callout-primary" ng-repeat="comentario in comentarioList">
                            <h4>{{comentario.usuario.persona.nombre}}</h4>                                               
                            <img ng-if="!comentario.usuario.rutaImagen" height="28px" width="28px" ng-src="/resources/images/default.jpg" alt="..." />
                            <img ng-if="comentario.usuario.signInProvider === null && comentario.usuario.rutaImagen" height="28px" width="28px" ng-src="/images/getThumbnail/{{comentario.usuario.rutaImagen}}" alt="..." />
                            <img ng-if="comentario.usuario.signInProvider !== null && comentario.usuario.rutaImagen" height="28px" width="28px" ng-src="{{comentario.usuario.rutaImagen}}" alt="..." />                      
                            {{comentario.texto}}
                            <span class="date sub-text pull-right">{{comentario.creationTime| date:'dd-MM-yyyy HH:mm:ss'}}</span>
                        </div>

                    </div>

                </div>



            </div>


            <div ui-view="ubicacionesModal">

            </div>  


        </div>

    </div>
</div>