<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-controller="mapController">
            <script id="searchbox.tpl.html" type="text/ng-template">
                <input class="form-control" style="width:40%;margin:9px" type="text" placeholder="Buscar ubicacion...">
            </script>
            <script type="text/ng-template" id="control.tpl.html">
                <button class="form-control" style="width:15%;margin:9px"  ng-click="getUbicacionGPS()">Ubicame</button>
            </script>
            <ui-gmap-google-map events="events" center="center" zoom="zoom" draggable="true" options="options" bounds="bounds" ng-click="setUbicaciones()">
                <ui-gmap-markers models="markers" events="marker.events" coords="'self'" icon="'icon'" options="marker.options">
                </ui-gmap-markers>
                <ui-gmap-search-box template="searchbox.template" events="searchbox.events">
                </ui-gmap-search-box>
                <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="mapController" index="-1">
                </ui-gmap-map-control>
            </ui-gmap-google-map>

        </div>

    </body>
</html>
