<div ui-view>
    <div class="col-md-8 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading">
                <p>                            
                    Publicaciones
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">VenderYa!</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        VenderYa!
                    </button>
                </p>
            </div>  
            <div id="publicacionesProductos" class="panel-body">
                <h3>ComprameYa o http://www.comprameya.com</h3><br/>
                <ol type="1">
                    <li>
                        <p>
                            El sitio Web www.comprameya.com y sus diferentes grupos, conforman un portal electrónico a través del cual los usuarios pueden ofrecer en alquiler y venta todo tipo de bienes muebles.
                            ComprameYa o http://www.comprameya.com declara no tener necesariamente algún tipo de vinculación económica y/o empresarial con los usuarios que ofrezcan en alquiler y venta los objetos muebles a través del Portal, ni tampoco ser propietaria o poseedora de alguno de los bienes muebles ofrecidos en venta.
                            En tal sentido, para el uso del presente sitio Web, los Usuarios se someterán a los términos y condiciones que se indican a continuación.
                            <br/>
                            CUALQUIER USUARIO QUE NO ACEPTE LOS SIGUIENTES TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL PORTAL WEB O GRUPO.
                        </p>
                    </li>
                    <li>
                        <p>
                            Condiciones generales de uso de ComprameYa http://www.comprameya.com, La utilización del presente Portal requiere de la aceptación previa del Usuario de los términos y condiciones incluidas en la presente página Web. CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL PRESENTE PORTAL Y/O LOS SERVICIOS OFRECIDOS.
                        </p>
                    </li>
                    <li>
                        <p>
                            Veracidad de la información de ComprameYa http://www.comprameya.com y las personas naturales y/o responsables por ésta, asumen que la información que se suministra en la presente página Web es verídica. Sin embargo, ComprameYa o http://www.comprameya.com no se responsabiliza en ningún modo por la total exactitud o confiabilidad de toda o parte de la información contenida en ComprameYa o http://www.comprameya.com por lo tanto ComprameYa o http://www.comprameya.com y las personas naturales y/o jurídicas vinculadas a ella no se hacen responsables por los daños o perjuicios que los usuarios del portal puedan sufrir debido a todo o parte del contenido de la información que aparece en la presente página Web.
                            <br/>
                            ComprameYa o http://www.comprameya.com tampoco se responsabiliza por la veracidad, fiabilidad, oportunidad, exactitud o disponibilidad de los bienes publicados y promocionados por los oferentes o por terceros y por tal, tampoco se hará responsable por la correspondencia, comunicación, negociaciones, ofertas o contratación que el Usuario celebre con tal oferente o tercero.
                        </p>
                    </li>
                    <li>
                        <p>
                            Publicidad e información de terceros
                            <br/>
                            ComprameYa o http://www.comprameya.com contiene publicidad, links, banners y distinto tipo de información que puede ser manipulada por terceros. Sin embargo, este tipo de información no forma parte de ComprameYa o http://www.comprameya.com no se encuentra bajo su manipulación y, por ende, ComprameYa o http://www.comprameya.com no se hace responsable por los posibles daños y/o perjuicios que se puedan derivar de éstos. Si el usuario del presente Portal o red social/grupo decide manipular o consultar el contenido de dicha publicidad, links o banners (entre otros), lo hace bajo su propia responsabilidad y bajo riesgo propio. El hecho de que distinto tipo de información aparezca en ComprameYa o http://www.comprameya.com no quiere decir, necesariamente, que este Portal o red social/grupo lo recomiende o aconseje, o respalde su consulta.
                        </p>
                    </li>
                    <li>
                        <p>
                            Política de privacidad
                            <br/>
                            Para utilizar los servicios ofrecidos por ComprameYa o http://www.comprameya.com, los Usuarios deberán facilitar determinados datos de carácter personal; sin embargo, ComprameYa o http://www.comprameya.com no se responsabiliza si terceros ajenos interceptan o acceden a cierta información o transmisiones de datos, en cuyo caso, el presente Portal o grupo no responderá por la información que sea revelada u obtenida irregularmente.
                        </p>
                    </li>
                    <li>
                        <p>
                            Propiedad Intelectual
                            <br/>
                            ComprameYa o http://www.comprameya.com no otorga ninguna licencia de uso sobre las marcas, nombres comerciales y/o cualquier derecho de propiedad intelectual de terceros que aparezcan o puedan aparecer en la página Web, los cuales son de propiedad de sus respectivos titulares. Dichos derechos de propiedad intelectual podrán ser utilizados por los Usuarios del Portal o consumidores en general únicamente con fines informativos.
                        </p>
                    </li>
                    <li>
                        <p>
                            Responsabilidad e Indemnización
                            <br/>
                            ComprameYa o http://www.comprameya.com se limita a poner a disposición del usuario un espacio virtual en el muro de grupo para que éste pueda contactarse con el/los oferente/s de los bienes muebles que aparecen en la página Web. ComprameYa o http://www.comprameya.com no es propietario de dichos bienes, muebles, ni garantiza el perfeccionamiento de las operaciones para obtener la propiedad sobre dichos bienes muebles, así como tampoco garantiza la existencia, calidad, ni cantidad de los inmuebles ofrecidos a través del espacio Web ComprameYa o http://www.comprameya.com.
                            El Usuario es completamente responsable por las negociaciones y operaciones que realice con los oferentes que aparezcan en el presente Portal o grupo.
                            ComprameYa o http://www.comprameya.com no será responsable por los daños que pueda sufrir el Usuario por contratar con los ofertantes que aparecen en la presente página Web o grupo. Asimismo, los Usuarios eximen de toda responsabilidad a ComprameYa o http://www.comprameya.com en caso de una posible acción legal o reclamo en contra de otro Usuario y/o tercero. De presentarse dicho caso, el Usuario será el encargado de indemnizar al otro Usuario o tercero que presente acción legal en su contra y, por lo tanto, ComprameYa o http://www.comprameya.com no tendrá que pagar indemnización alguna.
                            ComprameYa o http://www.comprameya.com declara que www.facebook.com no tiene control sobre las transacciones que realicen los usuarios, en tal sentido, no asume responsabilidad alguna en relación de cualquier pérdida, gasto, demanda o daño, directo o consecuente, derivados de la información y uso del sitio web o grupo.
                        </p>
                    </li>
                    <li>
                        <p>
                            Legislación y Jurisdicción aplicable
                            <br/>
                            Los términos y condiciones regulados en ComprameYa o http://www.comprameya.com se rigen en todos y cada uno de sus extremos por las leyes de la República de El Salvador.
                            ComprameYa o http://www.comprameya.com y el Usuario, con renuncia a cualquier otro fuero, se someten al de los Juzgados y Tribunales de la Republica De El Salvador.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>