<div ui-view>
    <div class="col-md-10 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>
                    <button type="button" class="btn btn-default hidden-xs pull-left" aria-label="Menu categorias" ng-click="cambiarmenustylecat()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button type="button" class="btn btn-default visible-xs pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  
            <div id="publicacionesProductos" class="panel-body">
                <h3><b>ComprameYa</b></h3><br/>

                <div class="bs-callout bs-callout-primary">
                    <p>
                        El sitio Web www.comprameya.com y sus diferentes grupos, conforman un portal electrónico a través del cual los usuarios pueden ofrecer en alquiler y venta todo tipo de bienes muebles.
                        ComprameYa declara no tener necesariamente algún tipo de vinculación económica y/o empresarial con los usuarios que ofrezcan en alquiler y venta los objetos muebles a través del Portal, ni tampoco ser propietaria o poseedora de alguno de los bienes muebles ofrecidos en venta.
                        En tal sentido, para el uso del presente sitio Web, los Usuarios se someterán a los términos y condiciones que se indican a continuación.
                        <br/>                        
                    </p>
                </div>
                <div class="bs-callout bs-callout-primary">
                    <p>
                        Condiciones generales de uso de ComprameYa, La utilización del presente Portal requiere de la aceptación previa del Usuario de los términos y condiciones incluidas en la presente página Web.
                    </p>
                </div>
                <div class="bs-callout bs-callout-primary">
                    <p>
                        Veracidad de la información de ComprameYa y las personas naturales y/o responsables por ésta, asumen que la información que se suministra en la presente página Web es verídica. Sin embargo, ComprameYa no se responsabiliza en ningún modo por la total exactitud o confiabilidad de toda o parte de la información contenida en ComprameYa por lo tanto ComprameYa y las personas naturales y/o jurídicas vinculadas a ella no se hacen responsables por los daños o perjuicios que los usuarios del portal puedan sufrir debido a todo o parte del contenido de la información que aparece en la presente página Web.
                        <br/>
                        ComprameYa tampoco se responsabiliza por la veracidad, fiabilidad, oportunidad, exactitud o disponibilidad de los bienes publicados y promocionados por los oferentes o por terceros y por tal, tampoco se hará responsable por la correspondencia, comunicación, negociaciones, ofertas o contratación que el Usuario celebre con tal oferente o tercero.
                    </p>
                </div>   
                <br/>
                <div class="bs-callout bs-callout-primary">
                        
                        <h4>Política de privacidad</h4>
                        <br/>
                    <p>
                        Para utilizar los servicios ofrecidos por ComprameYa, los Usuarios deberán facilitar determinados datos de carácter personal; sin embargo, ComprameYa no se responsabiliza si terceros ajenos interceptan o acceden a cierta información o transmisiones de datos, en cuyo caso, el presente Portal o grupo no responderá por la información que sea revelada u obtenida irregularmente.
                        Así mismo ComprameYa declara que no compartirá su información personal con terceros.
                    </p>
                </div>
                <br/>
                <div class="bs-callout bs-callout-primary">
                        
                        <h4>Propiedad Intelectual</h4>
                        <br/>
                    <p>
                        ComprameYa no otorga ninguna licencia de uso sobre las marcas, nombres comerciales y/o cualquier derecho de propiedad intelectual de terceros que aparezcan o puedan aparecer en la página Web, los cuales son de propiedad de sus respectivos titulares. Dichos derechos de propiedad intelectual podrán ser utilizados por los Usuarios del Portal o consumidores en general únicamente con fines informativos.
                    </p>
                </div>
                <br/>
                <div class="bs-callout bs-callout-primary">
                        
                        <h4>Responsabilidad e Indemnización</h4>
                        <br/>
                   <p>
                        ComprameYa se limita a poner a disposición del usuario un espacio virtual para que éste pueda contactarse con el/los oferente/s de los bienes muebles que aparecen en la sitio Web. ComprameYa no es propietario de dichos bienes, muebles, ni garantiza el perfeccionamiento de las operaciones para obtener la propiedad sobre dichos bienes muebles, así como tampoco garantiza la existencia, calidad, ni cantidad de los inmuebles ofrecidos a través del espacio Web ComprameYa.
                        El Usuario es completamente responsable por las negociaciones y operaciones que realice con los oferentes que aparezcan en el presente Portal.
                        ComprameYa no será responsable por los daños que pueda sufrir el Usuario por contratar con los ofertantes que aparecen en la presente página Web. Asimismo, los Usuarios eximen de toda responsabilidad a ComprameYa en caso de una posible acción legal o reclamo en contra de otro Usuario y/o tercero. De presentarse dicho caso, el Usuario será el encargado de indemnizar al otro Usuario o tercero que presente acción legal en su contra y, por lo tanto, ComprameYa no tendrá que pagar indemnización alguna.
                        ComprameYa declara que www.facebook.com no tiene control sobre las transacciones que realicen los usuarios, en tal sentido, no asume responsabilidad alguna en relación de cualquier pérdida, gasto, demanda o daño, directo o consecuente, derivados de la información y uso del sitio web.
                    </p>
                </div>
                <br/>
                <div class="bs-callout bs-callout-primary">
                        
                        <h4>Legislación y Jurisdicción aplicable</h4>
                        <br/>
                    <p>
                        Los términos y condiciones regulados en ComprameYa se rigen en todos y cada uno de sus extremos por las leyes de la República de El Salvador.
                        ComprameYa y el Usuario, con renuncia a cualquier otro fuero, se someten al de los Juzgados y Tribunales de la Republica De El Salvador.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>