<script type="text/ng-template" id="changePassModal.html">
    <div class="modal-body" ng-app="cmpy.autenticacion" ng-controller="changePassController">
        <!--    <div ng-class="valtitulo">
                <label for="passActual" class="control-label">Ingrese contraseña actual</label>
                <input ng-model="passActual" id="passActual" type="password" class="form-control"/>
            </div>-->
        <div ng-class="valtitulo">
            <label for="passNuevo" class="control-label">Ingrese contraseña nueva</label>
            <input ng-model="passNuevo" id="passNuevo" type="password" class="form-control"/>
        </div>
        <div ng-class="valtitulo">
            <label for="passConfirmacion" class="control-label">Confirme la nueva contraseña</label>
            <input ng-model="passConfirmacion" id="passConfirmacion" type="password" class="form-control"/>
        </div>
        <button ng-click="cancel()" type="button" class="btn btn-success pull-left" uib-tooltip="Cancelar cambio de contraseña" tooltip-placement="bottom">
            Cancelar
        </button>
        <button ng-click="changePass()" type="button" class="btn btn-success pull-right" uib-tooltip="Aplicar el cambio de contraseña" tooltip-placement="bottom">
            Aplicar Cambio
        </button>
    </div>
</script>