<div class="col-md-10 min_cont marcar">
    <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>
                    <button type="button" class="btn btn-default hidden-xs pull-left" aria-label="Menu categorias" ng-click="cambiarmenustylecat()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button type="button" class="btn btn-default visible-xs pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  

        <div id="publicacionesProductos" class="panel-body">

            <div class="row">



                <div ng-init="init()">

                    <ol>
                        <div ng-repeat="notificacionUsuario in notificaciones">
                            <a href="" 
                               ng-click="quitarVisibilidad(notificacionUsuario.id, $index)" 
                               ui-sref="home.vistaProducto({publicacionId: {{notificacionUsuario.notificacion.link}}, '#': 'commentBox'})">
                                <li ng-show="{{!notificacionUsuario.visto}}" class="alert alert-success">

                                    {{notificacionUsuario.notificacion.mensaje}}
                                    <br/>
                                    <span class="text-muted" style="font-size: 11px;">- nueva</span> 
                                    <span class="badge">{{notificacionUsuario.notificacion.creationTime| date:'dd-MM-yyyy HH:mm'}}</span>

                                </li>
                            </a>
                            <a href=""  
                               ui-sref="home.vistaProducto({publicacionId: {{notificacionUsuario.notificacion.link}}, '#': 'commentBox'})">
                                <li ng-show="{{notificacionUsuario.visto}}" class="alert alert-warning">

                                    {{notificacionUsuario.notificacion.mensaje}}
                                    <br/>
                                    <span class="text-muted" style="font-size: 11px;">- visto</span> 
                                    <span class="badge">{{notificacionUsuario.notificacion.creationTime| date:'dd-MM-yyyy HH:mm'}}</span>

                                </li>
                            </a>
                        </div>        
                    </ol>

                </div>

            </div>

        </div>

    </div>
</div>