<div ng-controller="notificacionController" ng-init="init()">

    
      <form ng-submit="addMessage()" name="messageForm">
        <input type="text" placeholder="Compose a new message..." ng-model="message" />
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
      </p>
    
    <ol>
        <div ng-repeat="notificacionUsuario in notificaciones">
            <a href="" 
               ng-click="quitarVisibilidad(notificacionUsuario.id)" 
               ui-sref="home.vistaProducto({publicacionId: {{notificacionUsuario.notificacion.link}}, '#': 'commentBox'})">
                <li ng-show="{{!notificacionUsuario.visto}}" class="alert alert-success">

                    {{notificacionUsuario.notificacion.mensaje}}
                    <br/>
                    <span class="text-muted" style="font-size: 11px;">- nueva</span> 
                    <span class="badge">{{notificacionUsuario.notificacion.creationTime| date:'dd-MM-yyyy HH:mm'}}</span>

                </li>
            </a>
            <a href="" 
               ng-click="quitarVisibilidad(notificacionUsuario.id)" 
               ui-sref="home.vistaProducto({publicacionId: {{notificacionUsuario.notificacion.link}}, '#': 'commentBox'})">
                <li ng-show="{{notificacionUsuario.visto}}" class="alert alert-warning">

                    {{notificacionUsuario.notificacion.mensaje}}
                    <br/>
                    <span class="text-muted" style="font-size: 11px;">- visto</span> 
                    <span class="badge">{{notificacionUsuario.notificacion.creationTime| date:'dd-MM-yyyy HH:mm'}}</span>

                </li>
            </a>
        </div>        
    </ol>

</div>
