<div ui-view>
    <div class="col-md-10 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>

                    <button type="button" class="btn btn-default pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  
            <div id="publicacionesProductos" class="panel-body">
                <h1>Bienvenidos al sorteo de comprameya</h1>
                <button ng-show="authenticated" type="button" class="btn btn-success pull-right" ng-click="start()">Iniciar Sorteo</button>
                <button ng-show="authenticated" type="button" class="btn btn-success pull-right" ng-click="stop()">Seleccionar Ganador</button>
                <h3>{{notificacion.mensaje}}</h3><br/>                

                
                
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <h1>
                       <button  value="VenderYa!" type="submit" class="btn btn-success pull-left">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                      </button>    
                        <span id="cuenta_atras" class="label label-default" style="font-size:40px">00:00:00</span>
                       <button  value="VenderYa!" type="submit" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                      </button>
                    </h1>  

                  </div>
                  <div class="panel-body text-center">
                    <h1>
                      Genaro Alberto Martinez Salazar
                    </h1>
                  </div>
                </div>

            </div>
        </div>
    </div>
    
  
    
</div>


