<div ui-view>
    <div class="col-md-10 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>

                    <button type="button" class="btn btn-default pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  
            <div id="publicacionesProductos" class="panel-body">
                <h1>Bienvenidos al sorteo de comprameya</h1>
                <h3>{{notificacion.mensaje}}</h3><br/>                
            </div>
        </div>
    </div>
</div>