<div ui-view>
    <div class="col-md-10 min_cont marcar">
        <div class="panel panel-default min_cont">                    
            <div class="panel-heading" style="height:60px">
                <p>

                    <button type="button" class="btn btn-default pull-left" aria-label="Menu categorias" onclick="openNav()">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Categorias
                    </button>
                    <button ng-show="!authenticated" value="VenderYa!" type="button" class="btn btn-success pull-right" ng-click="open('loginModal.html')">Crear Anuncio</button>
                    <button ng-show="authenticated" value="VenderYa!" type="submit" class="btn btn-success pull-right" ng-click="open('venderModal.html')">
                        Crear Anuncio
                    </button>

                </p>
            </div>  
            <div id="publicacionesProductos" class="panel-body text-center">
                <h2>Bienvenidos al sorteo de comprameya</h2>
                <h4>Sorteo del Drone sabado 25 de febrero a las 8:00 pm Suerte!</h4>
                 
                <div class="panel panel-default">
                  <div class="panel-heading text-center">
                    <h2>
                       <button ng-show="authenticated" ng-disabled="botonstart"  value="VenderYa!" type="submit" class="btn btn-success pull-left" ng-click="start()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                      </button>    
                        <span id="cuenta_atras" class="label label-default" style="font-size:25px">00:00:00</span>
                       <button ng-show="authenticated"  value="VenderYa!" type="submit" class="btn btn-danger pull-right" ng-click="stop()">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                      </button>
                    </h2>  

                  </div>
                    <div class="panel-body text-center" style="min-height:200px">
                     <div id="texto_sorteo" ng-hide="salidaAnimacion">
                        <h1>
                            {{notificacion.mensaje}}
                        </h1>
                         <div ng-if="notificacion.usuarioSeleccionado!==null">
                             <div class="col-md-4">
                             </div>
                            <div class="col-md-4">
                                    <img class="user-image" ng-if="!usuarioSeleccionado.rutaImagen" width="100%" ng-src="/resources/images/default.jpg" alt="..." uib-tooltip="{{usuarioSeleccionado.persona.nombre}}" tooltip-placement="top"/>
                                    <img class="user-image" ng-if="usuarioSeleccionado.signInProvider === null && usuarioSeleccionado.rutaImagen" width="100%"  ng-src="/images/getThumbnail/{{usuarioSeleccionado.rutaImagen}}" alt="..." uib-tooltip="{{usuarioSeleccionado.persona.nombre}}" tooltip-placement="top"/>
                                    <img class="user-image" ng-if="usuarioSeleccionado.signInProvider !== null && usuarioSeleccionado.rutaImagen" width="100%"  ng-src="{{usuarioSeleccionado.rutaImagen}}" alt="..."  uib-tooltip="{{usuarioSeleccionado.persona.nombre}}" tooltip-placement="top"/>
                            </div>
                            <div class="col-md-4">
                             </div>
                         </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>


