<!--lg-->
<div class="panel panel-primary hidden-xs hidden-md hidden-sm" style="position: fixed;top:3%;left:3%;z-index:1000;width:93%;height:93%;opacity:0.97" ng-style="menustyle">
  <div class="panel-heading" style="height:50px">
      <h3 class="panel-title">
          <div style="padding-top:5px;margin-right:20px" class="pull-left">Categorias</div> 
          <!--<div style="width:200px" class="pull-left"><input type="text" class="form-control" placeholder="Buscar..."/></div>-->
          <button type="button" class="btn btn-default pull-right" aria-label="Cerrar" ng-click="cambiarmenustylecat()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button> 
      </h3>
  </div>
  <div class="panel-body" style="overflow-y:scroll;height:93%">
    <!--Paneles internos-->
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=1 && categoria.id <=1">
            <div class="panel-heading">
                <h3 class="panel-title catsub"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div style="overflow-x: hidden" ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>        
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=2 && categoria.id <=3">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="catsub" href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=4 && categoria.id <=6">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=7 && categoria.id <=11">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul ng-show="categoria.categoriaList.length>0">
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>           
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=12 && categoria.id <=14">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul ng-show="categoria.categoriaList.length>0">
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
         <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="(categoria.id >=15 && categoria.id <=27) || categoria.id>=225">
            <div class="panel-heading"> 
                <h3 class="panel-title"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul ng-show="categoria.categoriaList.length>0">
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>        
    </div>
   

  </div>
</div>

<!--md-->
<div class="panel panel-primary hidden-xs hidden-lg hidden-sm" style="position: fixed;top:3%;left:3%;z-index:1000;width:93%;height:93%;opacity:0.97" ng-style="menustyle">
  <div class="panel-heading" style="height:50px">
      <h3 class="panel-title">
          <div style="padding-top:5px;margin-right:20px" class="pull-left">Categorias</div> 
          <!--<div style="width:200px" class="pull-left"><input type="text" class="form-control" placeholder="Buscar..."/></div>-->
          <button type="button" class="btn btn-default pull-right" aria-label="Cerrar" ng-click="cambiarmenustylecat()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button> 
      </h3>
  </div>
  <div class="panel-body" style="overflow-y:scroll;height:93%">
    <!--Paneles internos-->
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=1 && categoria.id <=3">
            <div class="panel-heading">
                <h3 class="panel-title catsub"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div style="overflow-x: hidden" ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>        
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=4 && categoria.id <=11">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="catsub" href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=12 && categoria.id <=27 || categoria.id>=225">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>
 
   

  </div>
</div>

<!--sm-->
<div class="panel panel-primary hidden-xs hidden-lg hidden-md" style="position: fixed;top:3%;left:3%;z-index:1000;width:93%;height:93%;opacity:0.97" ng-style="menustyle">
  <div class="panel-heading" style="height:50px">
      <h3 class="panel-title">
          <div style="padding-top:5px;margin-right:20px" class="pull-left">Categorias</div> 
          <!--<div style="width:200px" class="pull-left"><input type="text" class="form-control" placeholder="Buscar..."/></div>-->
          <button type="button" class="btn btn-default pull-right" aria-label="Cerrar" ng-click="cambiarmenustylecat()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button> 
      </h3>
  </div>
  <div class="panel-body" style="overflow-y:scroll;height:93%">
    <!--Paneles internos-->
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=1 && categoria.id <=6">
            <div class="panel-heading">
                <h3 class="panel-title catsub"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div style="overflow-x: hidden" ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>        
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-2" style="padding-right:3px;padding-left:3px ">
        <div class="panel panel-default" style="padding-left:0;padding-right:0;margin-left:3px;margin-right:3px;margin-bottom:5px" ng-repeat="categoria in categorias" ng-show="categoria.id >=7 && categoria.id <=27 || categoria.id>=225">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="catsub" href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">{{categoria.nombre}}</a></h3>
            </div>
            <div ng-class="{panelclear:categoria.categoriaList.length==0,'panel-body':categoria.categoriaList.length>0}">
                <ul>
                    <li ng-repeat="sub_categoria in categoria.categoriaList">
                        <h4 style="margin:3px"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">{{sub_categoria.nombre}}</a></h4>
                        <ul>
                            <li ng-repeat="sub_sub_categoria in sub_categoria.categoriaList"><a href="" ng-click="cambiarmenustylecat()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">{{sub_sub_categoria.nombre}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>         
    </div>

   

  </div>
</div>


<!--sidebar-->

<div id="mySidenav" class="sidenav visible-xs">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div id="refcat_ini" class="list-group cat level1" ng-repeat="categoria in categorias">
        <div id="cat_{{categoria.id}}" class="list-group-item btn-group"  role="group" aria-label="...">
            <button class="btn btn-default btn-cat-n" ng-click="categoria.collapse = !categoria.collapse" uib-tooltip="{{categoria.nombre}}" ng-show="!categoria.categoriaList.length>0" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">
                <span class="pull-left glyphicon glyphicon-plus" ng-show="categoria.collapse && categoria.categoriaList.length>0"></span>
                <span class="pull-left glyphicon glyphicon-minus" ng-show="!categoria.collapse && categoria.categoriaList.length>0"></span> 
                &nbsp;&nbsp;{{categoria.nombre}}
            </button>
            <button class="btn btn-default btn-cat-n" ng-click="categoria.collapse = !categoria.collapse" uib-tooltip="{{categoria.nombre}}" ng-show="categoria.categoriaList.length>0">
                <span class="pull-left glyphicon glyphicon-plus" ng-show="categoria.collapse && categoria.categoriaList.length>0"></span>
                <span class="pull-left glyphicon glyphicon-minus" ng-show="!categoria.collapse && categoria.categoriaList.length>0"></span>
                &nbsp;&nbsp;{{categoria.nombre}}
            </button>
            <button class="btn btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})" onclick="closeNav()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div id="refcat_{{categoria.id}}" class="list-group cat level2" uib-collapse="categoria.collapse" ng-repeat="sub_categoria in categoria.categoriaList">
            <div id="cat_{{sub_categoria.id}}"  class="list-group-item btn-group" role="group" aria-label="...">
                <button class="btn btn-primary btn-default btn-cat-n cat-gradient" ng-click="sub_categoria.collapse = !sub_categoria.collapse" uib-tooltip="{{sub_categoria.nombre}}" ng-show="!sub_categoria.categoriaList.length>0" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">
                    <span class="pull-left glyphicon glyphicon-plus" ng-show="sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    <span class="pull-left glyphicon glyphicon-minus" ng-show="!sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    &nbsp;&nbsp;{{sub_categoria.nombre}}
                </button>
                <button class="btn btn-primary btn-default btn-cat-n cat-gradient" ng-click="sub_categoria.collapse = !sub_categoria.collapse" uib-tooltip="{{sub_categoria.nombre}}" ng-show="sub_categoria.categoriaList.length>0">
                    <span class="pull-left glyphicon glyphicon-plus" ng-show="sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    <span class="pull-left glyphicon glyphicon-minus" ng-show="!sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    &nbsp;&nbsp;{{sub_categoria.nombre}}
                </button>
                <button class="btn btn-primary btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})" onclick="closeNav()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div id="refcat_{{categoria.id}}" class="list-group cat level3" uib-collapse="sub_categoria.collapse" ng-repeat="sub_sub_categoria in sub_categoria.categoriaList">
                <div id="cat_{{sub_sub_categoria.id}}"  class="list-group-item btn-group" role="group" aria-label="...">
                    <button class="btn btn-warning btn-default btn-cat-n cat-gradient" uib-tooltip="{{sub_sub_categoria.nombre}}" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">
                     &nbsp;&nbsp;{{sub_sub_categoria.nombre}}
                    </button>
                    <button class="btn btn-warning btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})" onclick="closeNav()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>  
  
  
</div>


