/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-mar-2016, 20:12:59
    Author     : jzelaya
*/

.price-text-color
{
    color: #00990E;
}

.titulo-publicacion
{
    text-align: center
}

.footer-publicacion
{
    position: absolute;
    bottom:50px;
    width:100%;
}

.center-block {
   margin: 0 auto;
   margin-left:auto;
   margin-right:auto;
   display:center;
}

.PUBLICACION_PAGADA {
    display: block;
    padding: 1px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 450px;
    overflow: hidden;
    padding-left: -20%;
}

.PUBLICACION_GRATIS {
    display: block;
    padding: 1px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 450px;
    overflow: hidden;
    padding-left: -20%;
}

div.anunciosImg{
    margin-left: -20%; margin-right: -20%;
}