<!--sidebar-->

<div id="mySidenav" class="sidenav" ng-if="rendercat">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div id="refcat_ini" class="list-group cat level1" ng-repeat="categoria in categorias">
        <div id="cat_{{categoria.id}}" class="list-group-item btn-group"  role="group" aria-label="...">
            <button class="btn btn-default btn-cat-n" ng-click="categoria.collapse = !categoria.collapse" uib-tooltip="{{categoria.nombre}}" ng-show="!categoria.categoriaList.length>0" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})">
                <span class="pull-left glyphicon glyphicon-plus" ng-show="categoria.collapse && categoria.categoriaList.length>0"></span>
                <span class="pull-left glyphicon glyphicon-minus" ng-show="!categoria.collapse && categoria.categoriaList.length>0"></span> 
                &nbsp;&nbsp;{{categoria.nombre}}
            </button>
            <button class="btn btn-default btn-cat-n" ng-click="categoria.collapse = !categoria.collapse" uib-tooltip="{{categoria.nombre}}" ng-show="categoria.categoriaList.length>0">
                <span class="pull-left glyphicon glyphicon-plus" ng-show="categoria.collapse && categoria.categoriaList.length>0"></span>
                <span class="pull-left glyphicon glyphicon-minus" ng-show="!categoria.collapse && categoria.categoriaList.length>0"></span>
                &nbsp;&nbsp;{{categoria.nombre}}
            </button>
            <button class="btn btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:categoria.nombre,cat:categoria.id,nivel:1})" onclick="closeNav()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div id="refcat_{{categoria.id}}" class="list-group cat level2" uib-collapse="categoria.collapse" ng-repeat="sub_categoria in categoria.categoriaList">
            <div id="cat_{{sub_categoria.id}}"  class="list-group-item btn-group" role="group" aria-label="...">
                <button class="btn btn-primary btn-default btn-cat-n cat-gradient" ng-click="sub_categoria.collapse = !sub_categoria.collapse" uib-tooltip="{{sub_categoria.nombre}}" ng-show="!sub_categoria.categoriaList.length>0" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})">
                    <span class="pull-left glyphicon glyphicon-plus" ng-show="sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    <span class="pull-left glyphicon glyphicon-minus" ng-show="!sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    &nbsp;&nbsp;{{sub_categoria.nombre}}
                </button>
                <button class="btn btn-primary btn-default btn-cat-n cat-gradient" ng-click="sub_categoria.collapse = !sub_categoria.collapse" uib-tooltip="{{sub_categoria.nombre}}" ng-show="sub_categoria.categoriaList.length>0">
                    <span class="pull-left glyphicon glyphicon-plus" ng-show="sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    <span class="pull-left glyphicon glyphicon-minus" ng-show="!sub_categoria.collapse && sub_categoria.categoriaList.length>0"></span>
                    &nbsp;&nbsp;{{sub_categoria.nombre}}
                </button>
                <button class="btn btn-primary btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:sub_categoria.nombre,cat:sub_categoria.id,nivel:2})" onclick="closeNav()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
            <div id="refcat_{{categoria.id}}" class="list-group cat level3" uib-collapse="sub_categoria.collapse" ng-repeat="sub_sub_categoria in sub_categoria.categoriaList">
                <div id="cat_{{sub_sub_categoria.id}}"  class="list-group-item btn-group" role="group" aria-label="...">
                    <button class="btn btn-warning btn-default btn-cat-n cat-gradient" uib-tooltip="{{sub_sub_categoria.nombre}}" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})">
                     &nbsp;&nbsp;{{sub_sub_categoria.nombre}}
                    </button>
                    <button class="btn btn-warning btn-default btn-cat-l" ng-click="setBtnStyle()" ui-sref="home.porCategoria({terminoBusqueda:sub_sub_categoria.nombre,cat:sub_sub_categoria.id,nivel:3})" onclick="closeNav()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>  
  
  
</div>


