<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="CMPY_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>../logs/cmpy_error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="CMPY_INFO" class="ch.qos.logback.core.FileAppender">
        <file>../logs/cmpy_info.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="CMPY_DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>../logs/cmpy_debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
    </logger>-->

    <logger name="com.tecnogeek.comprameya.controlador" level="info" additivity="false">
        <appender-ref ref="CMPY_INFO" />
    </logger>

    <root level="error">
        <appender-ref ref="CMPY_ERROR" />
    </root>

</configuration>