<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <nav id="navBar" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button id="botonMenuCatagorias" class="navbar-toggle navbar-brand" ng-click="panelCategorias = !panelCategorias">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <a href="/" class="pull-left">
                        <img src="/resources/images/logo_normal_trans_sm.png" class="img-responsive" alt="$ComprameYa!">
                    </a>
                </div>            
                <div class="navbar-right navbar-collapse collapse" uib-collapse="navCollapsed" ng-controller="autenticacionController">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>                
                        <li class="active"><a href="/cmpy/angular">Angular</a></li> 

                        <!--<div ng-if="usuario.login === '' || usuario.login === 'anonymousUser'">-->
                        <li ng-show="!authenticated" ng-controller="modalController">
                            <a href="#" ng-click="open('loginModal.jsp', 'lg')">Login <span class="glyphicon glyphicon-user"></a>                      
                        </li>                           
                        <!--</div>-->
                        <!--<div ng-if="usuario.login !== '' && usuario.login !== 'anonymousUser'">-->
                        <li class="dropdown" uib-dropdown="" ng-show="authenticated">
                            <a href="#" uib-dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bienvenido {{username}} <img height="28px" width="28px" src="{{imageUrl}}" alt="..." ></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Cambiar Clave</a></li>
                                <li><a href="#">Edita Perfil</a></li>
                                <li><a href="#">Configuracion</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>                                     
                                <li><a href="/logout">Salir <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>                                
                            </ul>
                        </li>                        
                        <!--</div>-->
                    </ul>                    
                </div>
                <form class="navbar-form navbar-left" style="width: 100%" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Productos...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">BuscarYa!</button>
                        </span>
                    </div>                    
                </form>
            </div>
        </nav>

    </body>
</html>
